body {
    background-image: url("imgs/background.jpg");
    /* background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* This keeps the background fixed while scrolling */
    /* background-position: center center; /* Center the background image */
    background-position: left;
}

label {
    font-weight: 600;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    align-content: center;
    font-family: monospace;
    font-size: 2.5vh;
    padding: 5px;
}

a {
    text-decoration: none;
}

.titleLabel {
    font-size: large;
}

h1#titlePassword {
    cursor: pointer;
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 2em;
}

.textLabel {
    text-align: center;
    width: 80%;

}

.inputs {
    font-size: 1rem;
}

h2#resultText {
    height: 100%;
    font-size: inherit;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-wrap: anywhere;
}

.buttonMain {
    width: 20rem;
}

#buttonClick {
    width: 12rem;
    height: 3rem;
    border-width: 2px;
    border-radius: 52px;
    background: #ff0054;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: large;
    text-shadow: 1px 1px 1px black;
}

.buttons {
    margin: 1.5vh;
}

input#inputText {
    height: 31px;
    width: 243px;
    font-family: initial;
    font-size: large;
    border-radius: 15px;
    border-width: 1px;
    text-align: center;
    margin: 1vh;

}

.buttonMain {
    margin: 10px;
}

button.btn {
    height: 3em;
    width: fit-content;
    background: none;
    border: none;
}

svg {
    height: inherit;
}

.copyButton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

input#sliderRange {
    -webkit-appearance: none;
    background: #ff0054;
    height: 0.5vh;
    width: 29vh;
    border-radius: 61%;
    accent-color: limegreen;
    cursor: pointer;
}

h3#infoText {
    font-size: inherit;
}

svg {
    cursor: pointer;
}